
.searchDisplayTracks
{
    width: 100%;
    grid-gap: 24px;
    margin-right: 10px;
}

.searchDisplayTracks-header
{
    height: 50px;
    position: sticky;
    background-color: rgb(30, 30, 30);
    top: 0;
    text-align: left;
}

.searchDisplayTracks-body
{
    width: 100%;
}

@media (max-width : 1880px) {
    .searchDisplayPlaylists
    {

    }
}

@media (max-width : 1655px) {
    .searchDisplayPlaylists
    {

    }
}

@media (max-width : 1345px) {
    .searchDisplayPlaylists
    {

    }
}

@media (max-width : 1035px) {
    .searchDisplayPlaylists
    {

    }
}
@media (max-width : 835px) {
    .searchDisplayPlaylists
    {

    }
}