@keyframes gradientMove {
    0%{background-position:0% 0%}
    50%{background-position:0% 40%}
    100%{background-position:0% 0%}
}

.search
{
    width: 85% ;
    height: 100% ;
    background-color: rgb(20, 20, 20);
    background: linear-gradient(171deg, rgba(0,11,150,1) 0%, rgba(3,0,95,1) 40%, rgba(2,0,36,1) 100%);
    background-size: 200% 200%;
    background-position: 0%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 20px;
    animation: gradientMove 3s ease 0s infinite normal none;
    animation-play-state: paused;

}
.search.animate
{
    animation-play-state: running;
}

.search-form
{
    height: 8%;
    min-height: 50px;
    display: flex;
    align-items: center;
}
.search-form-input
{
    width: 25%;
    height: 50%;
    border-radius: 15px;
    background-color: white;
    border: none;
    color: black;
    padding: 0px 10px 0px 10px;
}

.search-tags-container
{
    width: 100%;
    min-height: 30px;
    height: 5%;
    user-select: none;
}
.search-tags
{
    font-size: 16px;
    display: flex;
    gap: 15px;
}
.search-tag
{
    background-color: black;
    border-radius: 20px;
    min-width: 40px;
    text-align: center;
    padding : 4px 10px 4px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.search-tag.active
{
    color: black;
    background-color: white;
}

.search-results
{
    overflow: auto;
    height: 87%;
}