
.nav-bar
{

    height: 100%;
    width: 15%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.menu
{
    background-color: rgb(20, 20, 20);
    height: 15%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    user-select: none;
}
.menu li
{
    cursor: pointer;
}
.library
{
    background-color: rgb(20, 20, 20);
    height: 85%;
    width: 100%;
    border-radius: 8px;
    overflow: auto;
}

.library-header
{
    font-size: 20px;
    height: 5%;
    position: sticky;
    top: 0;
    background-color: rgb(20, 20, 20);
    padding-top: 10px;
    padding-bottom: 10px;
}
.library-list
{
    height: 95%;
}